@model IEnumerable<ProjectManagementSystem.Projects.Dto.ProjectDto>
<div>
    <ul class="list-group">
        @foreach (var project in Model)
        {
            <li class="list-group-item">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-info" onclick="editProject(@project.Id);">@L("Edit")</button>
                    <button type="button" class="btn btn-success" onclick="sendEmail(@project.TeamLeaderId, '@project.Name');">@L("Email")</button>
                    <button type="button" class="btn btn-danger" onclick="deleteProject(@project.Id);">@L("Delete")</button>
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <i class="fa @project.GetTaskLable() fa-3x"></i>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@project.Name</h4>
                        <p class="text-info">@L("Principal"): @project.TeamLeaderName</p>
                        <p class="text-muted">@L("StartDate"): @project.StartTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
                        <p class="text-muted">@L("DeliverDate"): @project.DeliverTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>