@using Abp.Web.Mvc.Extensions
@model ProjectManagementSystem.Web.Models.Projects.ProjectListViewModel
@{
    ViewBag.Title = L("ProjectList");
    ViewBag.ActiveMenu = "ProjectList"; //Matches with the menu name in SimpleProjectAppNavigationProvider to highlight the menu item
}
@section scripts{
    @Html.IncludeScript("~/Views/Projects/Index.js");
}
<h2>
    @L("ProjectList")
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">Create Project</button>
    <!--<a class="btn btn-primary" data-toggle="modal" href="@Url.Action("RemoteCreate")" data-target="#modal" role="button">（Create Project）使用Remote方式调用Modal进行展现</a>-->
    <!--任务清单按照状态过滤的下拉框-->
    <div class="pull-right">
        @Html.DropDownListFor(model => model.SelectedProjectState, Model.GetProjectStateSelectListItems(), new { @class = "form-control select2", id = "ProjectStateCombobox" })
    </div>
    <div class="pull-right">
        @Html.DropDownList("SelectedUserId", null, htmlAttributes: new { @class = "form-control select2", id = "SelectedUserId" })
    </div>
</h2>
<!--任务清单展示-->
<div class="row" id="projectList">
    @{ Html.RenderPartial("_ListProjects", Model.Projects); }
</div>
<!--通过初始加载页面的时候提前将创建任务模态框加载进来-->
@Html.Action("Create")
<!--编辑任务模态框通过ajax动态填充到此div中-->
<div id="edit">
</div>
<!--Remote方式弹出创建任务模态框-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="createProject" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>