@model IEnumerable<ProjectManagementSystem.Modules.Dto.ModuleDto>
<div>
    <ul class="list-group">
        @foreach (var module in Model)
        {
            <li class="list-group-item">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-info" onclick="editTask(@module.Id);">Edit</button>
                    <button type="button" class="btn btn-success" onclick="deleteTask(@module.Id);">Delete</button>
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <!--<i class="fa @module.GetTaskLable() fa-3x"></i>-->
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@module.Name</h4>
                        <p class="text-info">Belong to: @module.ProjectName</p>
                        <p class="text-info">Principal：@module.MemberName</p>
                        <span class="text-muted">DeliverDate: @module.DeliverTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>